@import './global.scss';

.cl-button{
    @extend %display;
    position: relative;
    // 去掉默认样式
    outline: none;
    padding: .5rem 1rem;
    cursor: pointer;
    span{
        margin-left: 5px;
    }
    user-select: none;
    
    /* 默认按钮 */
    &--default{
        background: transparent;
        border: $borderWidth solid $borderColor;
        &.is-disabled{
            border-color: $disabledBorderColor;
            &::after, &::before{
                border-color: $disabledBorderColor;
            }
        }
        &::after, &::before{
            content: '';
            position: absolute;
            width: 20%;
            height: 60%;
            transition: .3s ease-in-out;
        }
        &::before {
            top: -5px;
            left: -5px;
            border-top: 1px solid $borderColor;
            border-left: 1px solid $borderColor;
        }
        &::after {
            right: -5px;
            bottom: -5px;
            border-bottom: 1px solid $borderColor;
            border-right: 1px solid $borderColor;
        }
        
        &:hover::before,
        &:hover::after {
            width: calc(100% + 9px);
            height: calc(100% + 9px);
        }
    }
    // 按钮  流光
    &--streamer{
        padding: 10px 30px;
        color: #fff;
        // .cl-button__text{
        //     color: transparent; /* 隐藏原文字 */
        // }
        border: none;
        border-radius: 999rem;
        background: linear-gradient(
                90deg,#03a9f4, #f441a5, #ffeb3b,
                #03a9f4, #f441a5, #ffeb3b, #03a9f4); /*渐变背景*/
        background-size: 400%; /*背景大小*/
        transition: 0.5s ease-in-out;
        white-space: nowrap; /* 防止换行 */
        z-index: 1; /*显示在伪类背景上方*/
        &:hover{
            animation: horizonDrift 8s linear infinite alternate; /*动画: 名称 时间 线性 循环 播放完回退播放*/
            &::before{
                filter: blur(20px);
                opacity: 1;
                animation: horizonDrift 8s linear infinite;
            }
        }
        &::before{
            content: '';
            position: absolute; /*绝对定位*/
            top:-1px; /*当设置对立的2个定位属性时，元素的大小将由对立的大小决定*/
            left: -1px;
            right: -1px;
            bottom: -1px; /*当设置对立的2个定位属性时，元素的大小将由对立的大小决定*/
            z-index: -1;
            background: linear-gradient(
                    90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4,
                    #f441a5, #ffeb3b, #03a9f4);
            border-radius: 999rem;
            background-size: 400%;
            filter: blur(20px); /*过渡：模糊*/
            opacity: 0; /*透明度*/
            transition: 1s; /*过渡时间*/
        }
        &:hover::before{
            filter: blur(10px);
                opacity: 1;
                animation: horizonDrift 8s linear infinite;
        }
    }

    /* 幻界双流 按钮 */
    &--dualFlow{
        border-radius: 3px;
        z-index: 0;
        border: none;
        background-color: $primaryColor;
        color: #fff;
        &.is-disabled{
            background-color: $disabledPrimaryColor;
            &::after,&::before{
                border-color: $disabledBorderColor;
            }
            &:hover{
                background-color: $disabledPrimaryColor;
                &::after,&::before{
                    border-color: $disabledBorderColor;
                }
            }
        }
        &:hover{
            background-color: $highlightPrimaryColor;
            &::after,&::before{
                animation-play-state: paused;
            }
            
        }
        &::before, &::after{
            content: '';
            position: absolute;
            z-index: -2;
            left: -5px;
            top: -5px;
            right: -5px;
            bottom: -5px;
            border: $blodBorderWidth solid $borderColor;
            transition: all .5s;
            animation: clippath 3s infinite linear ;
            animation-play-state: running;
        }
        &::after {
            animation: clippath 3s infinite -1.5s linear ;
            animation-play-state: running;
        }
    }
    

    &::-moz-focus-inner{
        border: 0;
    }
}

@keyframes clippath {
    0%,100% {
        clip-path: inset(0 0 95% 0);
    }

    25% {
        clip-path: inset(0 95% 0 0);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 95%);
    }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
@keyframes iconRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes horizonDrift{
    0%{
        background-position: 0%; /*修改背景定位，实现渐变色炫光*/
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}

.is-disabled{
    cursor: not-allowed;
}
.is-loading .iconfont::before{
    display: inline-block;
    animation: iconRotate 2s linear infinite;
}