
/**
  *@file 整体变量
*/

@import './reset.scss';
// 变量存储
// 字体Unicode编码 微软雅黑:\5FAE\8F6F\96C5\9ED1 , 宋体:\5B8B\4F53
$pcFont: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', arial;
$defaultColor: #333;
$mobileFont: 'Helvetica Neue', Helvetica, STHeiTi, Microsoft YaHei, sans-serif, Microsoft JhengHei, Arial;
$browser: null;

%display {
    display:inline-block;
    zoom:1;
}
%text-indent {
    font-size:0;
    text-indent:-99999em;
    overflow:hidden;
}
%box-sizing {
    box-sizing:border-box;
}
// 绝对居中
@mixin center($width, $height) {
    position: absolute;
    left:50%;
    top:50%;
    width:$width;
    height:$height;
    margin:(-$height / 2) 0 0 (-$width / 2);
}
// 设置动画名称
@mixin animation($aniName) {
    animation:$aniName;
}
// 设置延迟执行时间
@mixin animation-delay($time) {
    animation-delay:$time;
}
// 设置阴影
@mixin box-shadow($shadow...) {
    box-shadow:$shadow;
}
// 圆角
@mixin border-radius($radius) {
    border-radius:$radius;
}
// 设置过渡
@mixin transition($transition...) {
    transition:$transition;
}
// 设置旋转位置
@mixin transform-origin($origin...) {
    transform-origin:$origin;
}
@mixin transform($transform...) {
    transform:$transform;
}
 
// 设置关键帧
@mixin keyframes($name) {
    @keyframes #{$name} {
        $browser: ''; @content;
    }
}
$primaryColor: #03A9F3;
$highlightPrimaryColor: #03A9F399;
$disabledPrimaryColor: #a0cfff;
$borderWidth: 1px;
$blodBorderWidth: 2px;
$borderColor: #03A9F3;
$disabledBorderColor: #a0cfff;
$selectedBorderColor: #1890ff;
$inlineRadius: 5px;
$mainBackgroundColor: #fff;
$selectedBackgroundColor: #ccc;
$otherBorderColor:  #dcdfe6;

$cls: #222327;
%full{
    width: 100%;
    height: 100%;
}
%link{
    cursor: pointer;
}

